

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>add client Admin </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
 

<ion-list>
    <ion-item-sliding *ngFor="let item5 of admin | async json">

 
      <ion-item>

        <ion-avatar item-start>

          <img src="../../assets/imgs/images1.png">
        </ion-avatar>
        <h2> {{item5.payload.val().name}} {{item5.payload.val().lname}}</h2>
        <p>{{item5.payload.val().age}}</p>
        <p>{{item5.payload.val().dept}}</p>

        <p> {{item5.payload.key }} </p>
      </ion-item>
      <ion-item-options side="left"      (click)="editPerson(item5.payload.key,item4.payload.val().name,item4.payload.val().lname,item4.payload.val().age,item4.payload.val().dept)">
        <button ion-button color="primary">
          <ion-icon name="ios-create"></ion-icon>
          update
        </button>

      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="danger"   (click)="delete(item5.payload.key)">
          <ion-icon name="ios-trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    
       
    </ion-item-sliding>
  </ion-list>
  
 

</ion-content>
