<!--
  Generated template for the ContactusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>send email</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
  <ion-item>
    <ion-label floating>Recipient (To)</ion-label>
    <ion-input type="text" [(ngModel)]="recipient"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Subject</ion-label>
    <ion-input type="text" [(ngModel)]="subject"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Message</ion-label>
    <ion-textarea [(ngModel)]="message"></ion-textarea>
  </ion-item>
</ion-list>
<div padding>
  <button block (click)="send(recipient, subject, message)">Send</button>
</div>
</ion-content>
