
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>login like Technical Sales </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    
    
    <ion-list>

  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="text" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item>
<button ion-button full (click)="myLogIn()">Login</button> 
  </ion-item>
</ion-list>
    
   

</ion-content>
