
<ion-header>

  <ion-navbar>
    <ion-title>Add client for directeur </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-list>

      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" [(ngModel)]="name" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Last Name</ion-label>
        <ion-input type="text"  [(ngModel)]="lname"  ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Age</ion-label>
        <ion-input type="text"  [(ngModel)]="age" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>service</ion-label>
        <ion-input type="text"  [(ngModel)]="dept" ></ion-input>
      </ion-item>
      <ion-item>
          <button ion-button   block (click)="takePhoto()">Take Photo
              <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
          </button>
        </ion-item>
        <ion-item>
            <p>{{currentImage}}</p>

          </ion-item>
          <ion-item>

          <img src="{{currentImage}}"/>
        </ion-item>
      <ion-item>
        <button ion-button   block (click)="createEmployee(name,lname,age,dept)">Submit
            <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
        </button>
      </ion-item>
    </ion-list>




</ion-content>
