<!--
  Generated template for the AddemployeePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Add </ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  
  
    <ion-list>
  
    
        <ion-item>
          <ion-label floating>login</ion-label>
          <ion-input type="text"  [(ngModel)]="login"  ></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label floating>password</ion-label>
          <ion-input type="text"  [(ngModel)]="password" ></ion-input>
        </ion-item>
        <ion-item>
          <button ion-button   block (click)="  createdirecteur(login,password)">Submit
              <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
          </button>
        </ion-item>
      </ion-list>
  
  
  
  
  </ion-content>
  