

<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title> historic </ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding>
   
  
  <ion-list>
      <h1 ion-text color="secondary"> commercial historic</h1>
      <ion-item-sliding *ngFor="let historique  of histo | async json">
  
     
        <ion-item>
            <h1 ion-text color="danger">{{historique.payload.val().date }} </h1>
          <ion-avatar item-start>
            <img src="../../assets/imgs/images1.png">
          </ion-avatar>
          <h2> {{historique.payload.val().name}} {{historique.payload.val().lname}}</h2>
          <p>{{historique.payload.val().age}}</p>
          <p>{{historique .payload.val().dept}}</p>
  
        </ion-item>
        <ion-item-options side="left"      (click)="editPerson(historique.payload.key,historique.payload.val().name,item4.payload.val().lname,item4.payload.val().age,item4.payload.val().dept)">
          <button ion-button color="primary">
            <ion-icon name="ios-create"></ion-icon>
            update
          </button>
      
        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button color="danger"   (click)="deleteEmployee(historique.payload.key)">
            <ion-icon name="ios-trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      
         
      </ion-item-sliding>
    </ion-list>
    
          <ion-list>
           
            <h1 ion-text color="secondary"> directer historic</h1>
            <ion-item-sliding *ngFor="let historiquedirecteur of  histodirecteur | async json">
        
           
              <ion-item>
                  <h1 ion-text color="danger">{{historiquedirecteur.payload.val().date }} </h1>
                <ion-avatar item-start>
                  <img src="../../assets/imgs/images1.png">
                </ion-avatar>
                <h2> {{historiquedirecteur.payload.val().name}} {{historiquedirecteur.payload.val().lname}}</h2>
                <p>{{historiquedirecteur.payload.val().age}}</p>
                <p>{{historiquedirecteur.payload.val().dept}}</p>
        
              </ion-item>
              <ion-item-options side="left"      (click)="editPerson(historiquedirecteur.payload.key,historique.payload.val().name,historiquedirecteur.payload.val().lname,historiquedirecteur.payload.val().age,historiquedirecteur.payload.val().dept)">
                <button ion-button color="primary">
                  <ion-icon name="ios-create"></ion-icon>
                  update
                </button>
            
              </ion-item-options>
              <ion-item-options side="right">
                <button ion-button color="danger"   (click)="deleteEmployee(historiquedirecteur.payload.key)">
                  <ion-icon name="ios-trash"></ion-icon>
                  Delete
                </button>
              </ion-item-options>
            
               
            </ion-item-sliding>
          </ion-list>
       
          <ion-list>
              <h1 ion-text color="secondary">technico sales historic</h1>
            <ion-item-sliding *ngFor="let historiquetechnocomercial of  historiquetechnoco | async json">
        
           
              <ion-item>
                  <h1 ion-text color="danger">{{historiquetechnocomercial.payload.val().date }} </h1>
                <ion-avatar item-start>
                  <img src="../../assets/imgs/images1.png">
                </ion-avatar>
                <h2> {{historiquetechnocomercial.payload.val().name}} {{historiquetechnocomercial.payload.val().lname}}</h2>
                <p>{{historiquetechnocomercial.payload.val().age}}</p>
                <p>{{historiquetechnocomercial.payload.val().dept}}</p>
        
              </ion-item>
              <ion-item-options side="left"      (click)="editPerson(historiquedirecteur.payload.key,historique.payload.val().name,historiquedirecteur.payload.val().lname,historiquedirecteur.payload.val().age,historiquedirecteur.payload.val().dept)">
                <button ion-button color="primary">
                  <ion-icon name="ios-create"></ion-icon>
                  update
                </button>
            
              </ion-item-options>
              <ion-item-options side="right">
                <button ion-button color="danger"   (click)="deleteEmployee(historiquedirecteur.payload.key)">
                  <ion-icon name="ios-trash"></ion-icon>
                  Delete
                </button>
              </ion-item-options>
            
               
            </ion-item-sliding>
          </ion-list>

  </ion-content>
  