

  <ion-tabs>
  
    <ion-tab [root]="tab1Root" tabTitle="client" tabIcon="ios-people"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Add client" tabIcon="ios-person-add"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Login" tabIcon="md-log-in"></ion-tab>
   
  
  </ion-tabs>
  

