
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Login </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label fixed>Username</ion-label>
      <ion-input type="text" [(ngModel)]="user.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Password</ion-label>
      <ion-input type="password" [(ngModel)]="user.pw"></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button full (click)="loginUser()">Login</button>
</ion-content>
