<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>customer list </ion-title>
    </ion-navbar>
  
  </ion-header>
  


<ion-content padding>


 
    
  <ion-list>
      <ion-item-sliding *ngFor="let item of employees | async json">

        <ion-item>

          <ion-avatar item-start>

            <img src="../../assets/imgs/images1.png">
          </ion-avatar>
          <h2> {{item.payload.val().name}} {{item.payload.val().lname}}</h2>
          <p>{{item.payload.val().age}}</p>
          <p>{{item.payload.val().dept}}</p>
  
          <p> {{item.payload.key }} </p>
        </ion-item>
        <ion-item-options side="left"      (click)="editPerson(item.payload.key,item.payload.val().name,item.payload.val().lname,item.payload.val().age,item.payload.val().dept)">
          <button ion-button color="primary">
            <ion-icon name="ios-create"></ion-icon>
            update
          </button>

        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button color="danger"  (click)="deleteEmployee(item.payload.key)">
            <ion-icon name="ios-trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      
         
      </ion-item-sliding>
    </ion-list>
    <div>{{(employees| async)?.length}}</div>
    <button ion-button outline (click)="addThemFunction(totale)"  color="energized">Calculate</button>
  
          <ion-card>
   
              <ion-card-header>
  
                  Calculator score Results:
   
              </ion-card-header>
    
              <ion-card-content>
                  <p>you add  {{(employees| async)?.length}} client</p>
                  <p>you score total is : {{totale }}TND </p>
  
            </ion-card-content>
    
          </ion-card>
  

</ion-content>
