<!-- Header Bar -->
<ion-header>
  <ion-navbar>
    <ion-title>
      Social Sharing
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <!-- Cards containing quotes -->
  <ion-card *ngFor="let quote of quotes; let i = index;">
    <!-- Quote aurthor -->
    <ion-card-header>
      
    </ion-card-header>
    <!-- Quote Title -->
    <ion-card-content [innerHtml]=q uote.content></ion-card-content>
    <!-- Sharing Icons -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button icon-only (click)="regularShare(i)" color="primary" clear>
        <ion-icon class="share-icon" name="share"></ion-icon>
      </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-only (click)="whatsappShare(i)" color="primary" clear>
        <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
      </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-only (click)="facebookShare(i)" color="primary" clear>
        <ion-icon  class="share-icon" name="logo-facebook"></ion-icon>
      </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-only (click)="twitterShare(i)" color="primary" clear>
        <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
      </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="bubbles" refreshingText="Refreshing...">
    </ion-refresher-content>
 </ion-refresher>
 
<ion-content *ngIf='userReady'>
  <ion-card>
    <img [src]="user.picture"/>
    <ion-card-content>
      <ion-card-title>
        Welcome {{user.name}}!
        </ion-card-title>
      <p>
        Your gender is: {{user.gender}}
      </p>
    </ion-card-content>
  </ion-card>
  <ion-row>
    <ion-col>
      <button ion-button block (click)="doFbLogout()">Logout</button>
    </ion-col>
  </ion-row>
</ion-content>
<ion-content class="login-content" padding>
  <ion-row class="top-row">
    <ion-col>
      <h1 class="label-logo">IONICTHEMES</h1>
      <p class="label-description">This app is part of a tutorial to learn how to add Facebook Login to an Ionic App!</p>
    </ion-col>
  </ion-row>
  <ion-row class="bottom-row">
    <ion-col class="login-button">
      <button ion-button block (click)="doFbLogin()">Facebook Login</button>
    </ion-col>
  </ion-row>
</ion-content>
</ion-content>