

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>home client commercial </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
 

<ion-list>
    <ion-item-sliding *ngFor="let item4 of addcommercialsclient | async json">

 
      <ion-item>

        <ion-avatar item-start>

          <img src="../../assets/imgs/images1.png">
        </ion-avatar>
        <h2> {{item4.payload.val().name}} {{item4.payload.val().lname}}</h2>
        <p>{{item4.payload.val().age}}</p>
        <p>{{item4.payload.val().dept}}</p>

        <p> {{item4.payload.key }} </p>
      </ion-item>
      <ion-item-options side="left"      (click)="editPerson(item4.payload.key,item4.payload.val().name,item4.payload.val().lname,item4.payload.val().age,item4.payload.val().dept)">
        <button ion-button color="primary">
          <ion-icon name="ios-create"></ion-icon>
          update
        </button>
    
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="danger"   (click)="deleteEmployee(item4.payload.key)">
          <ion-icon name="ios-trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    
       
    </ion-item-sliding>
  </ion-list>
  
  <div>{{(addcommercialsclient| async)?.length}}</div>
  <button ion-button outline (click)="addThemFunction(totale)"  color="energized">Calculate</button>

        <ion-card>
 
            <ion-card-header>

                Calculator score Results:
 
            </ion-card-header>
  
            <ion-card-content>
                <p>you add  {{(addcommercialsclient| async)?.length}} client</p>
                <p>you score total is : {{totale }}TND </p>

          </ion-card-content>
  
        </ion-card>

</ion-content>
