<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> evaluation </ion-title>
  </ion-navbar>

</ion-header>
  <ion-content>
  
    <ion-row align-items-end>
      <ion-col col-2>
        <button ion-button icon-only outline (click)="transaction.expense = !transaction.expense" [color]="transaction.expense ? 'danger' : 'primary'">
          <ion-icon name="remove" *ngIf="transaction.expense"></ion-icon>
          <ion-icon name="add" *ngIf="!transaction.expense"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-5>
        <ion-item>
          <ion-label floating>Value</ion-label>
          <ion-input type="number" [(ngModel)]="transaction.value"></ion-input>
        </ion-item>
  
      </ion-col>
      <ion-col col-5>
        <ion-item>
          <ion-label floating>Month</ion-label>
          <ion-select [(ngModel)]="transaction.month">
            <ion-option [value]="month.value" *ngFor="let month of months">{{ month.name }}</ion-option>
          </ion-select>
        </ion-item>
  
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <button ion-button full (click)="addTransaction()">Add Transaction</button>
      </ion-col>
    </ion-row>
  
    <ion-card [hidden]="!chartData">
      <ion-card-header>
        Analytics
      </ion-card-header>
      <ion-card-content>
        <canvas #valueBarsCanvas></canvas>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <button ion-button outline (click)="totalevaleur()"  color="energized">Calculate</button>

      <ion-card>

          <ion-card-header>

              Calculator score Results:

          </ion-card-header>

          <ion-card-content>

                
              <p>you score total  is : {{totaleval }}TND </p>

        </ion-card-content>

      </ion-card>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

    <ion-list>
        <ion-item-sliding *ngFor="let item1 of adddirecteurs| async json">
  
          <ion-item>
  
            <ion-avatar item-start>
  
              <img src="../../assets/imgs/images2.png">
            </ion-avatar>
            <h2> {{item1.payload.val().login}} </h2>
            <p>{{item1.payload.val().password}}</p>
          </ion-item>
          <ion-item-options side="left"      (click)="editPerson(item1.payload.key,item1.payload.val().login,item1.payload.val().password)">
            <button ion-button color="primary">
              <ion-icon name="ios-create"></ion-icon>
              update
            </button>
  
          </ion-item-options>
          <ion-item-options side="right">
            <button ion-button color="danger" (click)="deleteEmployee(item1.payload.key)">
              <ion-icon name="ios-trash"></ion-icon>
              Delete
            </button>
          </ion-item-options>
        
           
        </ion-item-sliding>
      </ion-list>
      
 
  <button ion-button outline (click)="addThemFunction1()"  color="energized">Calculate</button>

        <ion-card>
 
            <ion-card-header>

                Calculator score Results:
 
            </ion-card-header>
  
            <ion-card-content>

                         <p>you add  {{(addclients| async)?.length}} client</p>
                <p>you score total  director is : {{totale1 }}TND </p>

          </ion-card-content>
  
        </ion-card>
      
    
            <rating [(ngModel)]="rate2" 
            readOnly="false" 
            max="5"
            emptyStarIconName="star-outline" 
            halfStarIconName="star-half" 
            starIconName="star"
            nullable="false" 
           > 
    </rating>


    <ion-list>
      <ion-item-sliding *ngFor="let item2 of addcomercials| async json">

        <ion-item>

          <ion-avatar item-start>

            <img src="../../assets/imgs/images.png">
          </ion-avatar>
          <h2> {{item2.payload.val().login}} </h2>
          <p>{{item2.payload.val().password}}</p>
        
  
          <p> {{item2.payload.key }} </p>
        </ion-item>
        <ion-item-options side="left"      (click)="editPerson1(item2.payload.key,item2.payload.val().login,item2.payload.val().password)">
          <button ion-button color="primary">
            <ion-icon name="ios-create"></ion-icon>
            update
          </button>

        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteEmployee1(item2.payload.key)">
            <ion-icon name="ios-trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      
         
      </ion-item-sliding>
    </ion-list>
  
      <button ion-button outline (click)="addThemFunction(totale)"  color="energized">Calculate</button>
    
            <ion-card>
     
                <ion-card-header>
    
                    Calculator score Results:
     
                </ion-card-header>
                <ion-item-sliding *ngFor="let item4 of addcommercialsclient | async json">
                </ion-item-sliding>
                <ion-card-content>
                    <p>you add  {{(addcommercialsclient| async)?.length}} client</p>
                    <p>you score total commercial is : {{totale }}TND </p>
    
              </ion-card-content>
      
            </ion-card>
    <rating [(ngModel)]="rate" 
    readOnly="false" 
    max="5"
    emptyStarIconName="star-outline" 
    halfStarIconName="star-half" 
    starIconName="star"
    nullable="false" 
   > 
</rating>

    <ion-list>
      <ion-item-sliding *ngFor="let item of employees | async json">

        <ion-item>

          <ion-avatar item-start>

            <img src="../../assets/imgs/imges2.png">
          </ion-avatar>
          <h2> {{item.payload.val().name}} {{item.payload.val().lname}}</h2>
          <p>{{item.payload.val().age}}</p>
          <p>{{item.payload.val().dept}}</p>
  
          <p> {{item.payload.key }} </p>
        </ion-item>
        <ion-item-options side="left"      (click)="editPerson2(item.payload.key,item.payload.val().name,item.payload.val().lname,item.payload.val().age,item.payload.val().dept)">
          <button ion-button color="primary">
            <ion-icon name="ios-create"></ion-icon>
            update
          </button>

        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button color="danger"  (click)="deleteEmployee2(item.payload.key)">
            <ion-icon name="ios-trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      
         
      </ion-item-sliding>
    </ion-list>
   
    <button ion-button outline (click)="addThemFunction2(totale2)"  color="energized">Calculate</button>
  
          <ion-card>
   
              <ion-card-header>
  
                  Calculator score Results:
   
              </ion-card-header>
              <ion-item-sliding *ngFor="let item of employees | async json">
              </ion-item-sliding>
              <ion-card-content>
                  <p>you add  {{(employees| async)?.length}} client</p>
                  <p>you score total Technical Sales is : {{totale2 }}TND </p>
  
            </ion-card-content>
    
          </ion-card>
    <rating [(ngModel)]="rate1" 
    readOnly="false" 
    max="5"
    emptyStarIconName="star-outline" 
    halfStarIconName="star-half" 
    starIconName="star"
    nullable="false" 
   > 
</rating>
</ion-card>
  </ion-content>