page-charts {
    ul {
        padding: 0px;
      
        &.rating li {
          padding: 5px 10px !important;
          background: none;
          color: #ffb400;
      
          ion-icon {
            font-size: 30px;
          }
        }
      }
      $colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  energized: #ffc900,
);

ion-header {
  background-color: map-get($colors, primary);
}


.toolbar-background {
  background-color: map-get($colors, secondary);
}
}
