

<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>account manager list </ion-title>
    </ion-navbar>
  
  </ion-header>

<ion-content padding>


  <ion-list>
      <ion-item-sliding *ngFor="let item2 of addcomercials| async json">

        <ion-item>

          <ion-avatar item-start>

            <img src="../../assets/imgs/images1.png">
          </ion-avatar>
          <h2> {{item2.payload.val().login}} </h2>
          <p>{{item2.payload.val().password}}</p>
        
  
          <p> {{item2.payload.key }} </p>
        </ion-item>
        <ion-item-options side="left"      (click)="editPerson(item2.payload.key,item2.payload.val().login,item2.payload.val().password)">
          <button ion-button color="primary">
            <ion-icon name="ios-create"></ion-icon>
            update
          </button>

        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteEmployee(item2.payload.key)">
            <ion-icon name="ios-trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      
         
      </ion-item-sliding>
    </ion-list>


</ion-content>
