<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>super admin</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>


  <ion-list>
    
      <ion-item>
        <ion-label floating>delete</ion-label>
        <ion-input type="text" [(ngModel)]="id" ></ion-input>
      </ion-item>

      <ion-item>
        <button ion-button   block (click)="createEmployee(id)"> not delete
            <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
        </button>
      </ion-item>
      
      <ion-item>
        <button ion-button   block (click)="notdelete(id)">delete 
            <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
        </button>
      </ion-item>
   </ion-list>

   <ion-list>
    
      <ion-item>
        <ion-label floating>update</ion-label>
        <ion-input type="text" [(ngModel)]="id" ></ion-input>
      </ion-item>

      <ion-item>
        <button ion-button   block (click)="updateEmployee(id)"> not update
            <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
        </button>
      </ion-item>
      
      <ion-item>
        <button ion-button   block (click)="notupdate(id)"> update
            <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
        </button>
      </ion-item>
   </ion-list>



</ion-content>
