
<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{'Login'| translate}}  </ion-title>
  
  </ion-navbar>

</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
        <ion-label>Language </ion-label>
        <ion-select [(ngModel)]="lang" (ionChange)="switchLanguage()">
        <ion-option value="en">English</ion-option>
        <ion-option value="ar">Arabe</ion-option>
        </ion-select>
        </ion-item>
        </ion-list>
  <ion-list>
     
    <ion-item>
      <ion-label fixed>{{'Username'| translate}} </ion-label>
      <ion-input type="text" [(ngModel)]="user.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>{{'Password'| translate}}</ion-label>
      <ion-input type="password" [(ngModel)]="user.pw"></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button color="secondary" class="button button-full button-positive" (click)="loginUser()">{{'Login'| translate}}</button>
</ion-content>
