<!--
  Generated template for the AddemployeePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add client</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-list>

      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" [(ngModel)]="name" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Last Name</ion-label>
        <ion-input type="text"  [(ngModel)]="lname"  ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Age</ion-label>
        <ion-input type="text"  [(ngModel)]="age" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>service</ion-label>
        <ion-input type="text"  [(ngModel)]="dept" ></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button   block (click)="createEmployee(name,lname,age,dept,date)">Submit
            <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
        </button>
      </ion-item>
    </ion-list>




</ion-content>
