<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>customer list </ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>



<ion-list>
    <ion-item-sliding *ngFor="let item3 of addclients | async json">

      <ion-item>

        <ion-avatar item-start>

          <img src="../../assets/imgs/images1.png">
        </ion-avatar>
        <h2> {{item3.payload.val().name}} {{item3.payload.val().lname}}</h2>
        <p>{{item3.payload.val().age}}</p>
        <p>{{item3.payload.val().dept}}</p>

        <p> {{item3.payload.key }} </p>
      </ion-item>
      <ion-item-options side="left"      (click)="editPerson(item3.payload.key,item3.payload.val().name,item3.payload.val().lname,item3.payload.val().age,item3.payload.val().dept)">
        <button ion-button color="primary">
          <ion-icon name="ios-create"></ion-icon>
          update
        </button>

      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteEmployee(item3.payload.key)">
          <ion-icon name="ios-trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    
       
    </ion-item-sliding>
  </ion-list>


  <div>{{(addclients| async)?.length}}</div>
  <button ion-button outline (click)="addThemFunction(totale)"  color="energized">Calculate</button>

        <ion-card>
 
            <ion-card-header>

                Calculator score Results:
 
            </ion-card-header>
  
            <ion-card-content>
                <p>you add  {{(addclients| async)?.length}} client</p>
                <p>you score total is : {{totale }}TND </p>

          </ion-card-content>
  
        </ion-card>

</ion-content>
