<ion-header>
  <ion-navbar>
    <button color="light" ion-button menuToggle>
      <ion-icon color="light" name="menu"></ion-icon>
    </button>
    <ion-title color="light">Admin Dashboard</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-slides pager="true">
 
        <ion-slide>
          <img src="images/slide1.png" />
        </ion-slide>
       
        <ion-slide>
          <img src="images/slide2.png" />
        </ion-slide>
       
        <ion-slide>
          <img src="images/slide3.png" />
        </ion-slide>
       
        <ion-slide>
          <ion-row>
            <ion-col>
              <img src="images/slide4.png" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button ion-button color="light" (click)="goToHome()">Start Using My App</button>
            </ion-col>
          </ion-row>
        </ion-slide>
       
      </ion-slides>

</ion-content>