
<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{'Menu'| translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

        <ion-list>
            <ion-item>
            <ion-label>Language </ion-label>
            <ion-select [(ngModel)]="lang" (ionChange)="switchLanguage()">
            <ion-option value="en">English</ion-option>
            <ion-option value="ar">Arabe</ion-option>
            </ion-select>
            </ion-item>
            </ion-list>
      <ion-list>
         
      <button ion-item detail-none block menuClose *ngFor="let p of pages" (click)="openPage(p.page)">
        <ion-icon  item-start [name]="p.icon"></ion-icon>
        {{ p.title }}
      </button>
    </ion-list>

  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-row align-items-center color="light">
        <ion-col  color="light">
          {{'username'| translate}} 
        </ion-col>
        <ion-col>
          <button color="light" ion-button full clear icon-left (click)="logout()">
            <ion-icon name="sign-out">
            </ion-icon>
            Logout</button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>

</ion-menu>

<ion-nav #content main [root]="rootPage"></ion-nav>