page-menu {$colors: (
    primary:    #488aff,
    secondary:  #32db64,
    danger:     #f53d3d,
    light:      #f4f4f4,
    dark:       #222,
    energized: #ffc900,
  );
  
  ion-header {
    background-color: map-get($colors, primary);
  }
  
  
  .toolbar-background {
    background-color: map-get($colors, secondary);
  }

}
